.recipes {
  padding: 100px 80px 215px;
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/se_project_2_files/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes__title {
  margin: 0 0 80px;
  margin-bottom: 0;
  max-width: 580px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}
.recipes__subtitle {
  margin: 24px 0px 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
}
